body {
  margin: 0;
  font-family: "Prompt", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../src/assets/images/bg.jpg");
  background-size: cover;
}

.container {
  width: 90%;
  height: 90vh;
  background-color: white;
  border-radius: 20px;
  margin-top: 40px;
}

.container-chat {
  height: calc(100% - 74px);
  background-color: #f6f8fa;
  border-radius: 20px;
  padding: 5px 15px;
}

.column {
  flex-direction: column;
}

.pa-18 {
  padding: 18px;
}

.pa-48 {
  padding: 48px;
}

.py-gutter-18 > div {
  padding-top: 18px;
  padding-bottom: 18px;
}

.px-gutter-62 > div {
  padding-left: 62px;
  padding-right: 62px;
}

.text-center {
  text-align: center;
}

.text-namechat {
  font-size: 14px;
  color: #606060;
}

.chat {
  max-height: 35px;
  height: 100%;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.title {
  font-size: 37px;
  color: #383838;
  font-weight: 600;
}

.logo {
  position: fixed;
  top: 0px;
  margin-top: 10px;
  max-height: 40px;
  height: 100%;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.display-none {
  display: none;
}

.slide-top {
  visibility: hidden;
  opacity: 0;
  position: relative;
  top: 20px;
  transition: all 0.5s ease-out;
  &.up,
  > .up {
    top: 0px;
    visibility: visible;
    opacity: 1;
  }
}

.slide-left {
  visibility: hidden;
  opacity: 0;
  position: relative;
  right: -20px;
  transition: all 0.5s ease-out;
  &.left,
  > .left {
    right: 0px;
    visibility: visible;
    opacity: 1;
  }
}

.slide-bottom {
  visibility: hidden;
  opacity: 0;
  bottom: -20px;
  transition: all 0.5s ease-out;
  &.bottom,
  > .bottom {
    bottom: 0px;
    visibility: visible;
    opacity: 1;
  }
}
